body {
    background-color:white;
    /*background-image: radial-gradient(farthest-corner at  05%, white, rgb(250, 240, 250)); */
	width: 95%;
	margin: 0.2em auto;
	padding:2%;
    font-family: Verdana;
    
    /* INICIO BLOQUE GRID PARTE I */ 
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'deco1  main   main   main   main   deco2'
      'footer footer footer footer footer footer';
    grid-gap: 10px;

    /* FIN BLOQUE GRID PARTE I */ 

}

header {
    background-color:rgb(236, 245, 233);;
    width: 97%;
    margin:1.2em auto;
    padding: 1.5em ;

}

footer {
    background-color:rgb(236, 245, 233);;
    width: 97%;
    margin:1.2em auto;
    padding: 1.5em ;
}

h1 {
    font-size: 2.25em;
    color: rgb(105, 78, 3);
    text-decoration: underline overline dotted goldenrod;
    text-align: center;


}
h2 {
    font-size:1.75em;
    color: rgb(73, 49, 3);
  

}
h3 {
    font-size: 1.5em;
    color: rgb(54, 30, 2);
  

}
h4 {
    font-size: 1.5em;
    color: rgb(44, 26, 5);


}

body > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    
  }

  /* INICIO BLOQUE GRID PARTE II*/ 

.item1 { grid-area: header; 
}
.item2 { grid-area: deco1; 
    margin: 1%;
    padding: 1%;
   
   
}
.item3 { grid-area: main; 
}
.item4 { 
    grid-area: footer; 
    text-align: center;
    font-size: 0.8em;
    color : rgb(105, 78, 3);
}

.item5 { grid-area: deco2;   
    margin: 1%;
    padding: 1%;
   
}
/* FIN BLOQUE GRID PARTE II */ 

/* INICIO BLOQUE gALERIA */ 

#listadoIMG {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    flex-wrap: wrap;

    background-color: rgb(222, 241, 223);
}

#listadoIMG > img {
    width: code (20% - 2em) ;
    height: 5em;
    /*
    margin-right: 0.5em;
    nth-child (4n) {margin-right:0}
   */ 
  
   
    margin: 0.6em;
    padding: 0.6em;
    border: 1px outset goldenrod;
    border-radius: 0.4em;

   -webkit-filter: contrast(180%);
   filter: contrast(180%);

}

#listadoIMG > img:hover {
    -webkit-transform: scale(1.2);
    transition: 0.4s ease;
    transform: scale(1.2);
    border: 0px outset goldenrod;
    cursor: pointer; 
   

 

}

.imgPort {
    display:none;
}

#picplace {
    z-index:5;
    position: absolute;
    cursor: pointer; 
    padding: 5px;
    max-width: 100%;
    align-content: center;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
   
}

#picasa {
    position: fixed;
    display: none;
    width: 80%;
    height: 80%;
    top: 2%;
    left: 50%;
    right: 0;
    bottom: 1%;
    background-color: rgba(0,0,0,0.70);
    z-index: 2;
    cursor: pointer;
    border: 12px outset goldenrod;
    border-radius: 2em;
    transform: translateX(-50%);
  }

  /* FIN BLOQUE gALERIA */ 

  #rrss {
     float: right;
     background-color: rgba(179, 243, 179, 0.25);
     margin: 5px;
     padding: 5px;
     color: rgb(105, 83, 27)
  }

  .rs {
      cursor:pointer;
  }
/* COMPONENTE VIDEOS*/
  .videoreproductor {
   
    background-color: black;
  
  }

  #videos {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    flex-wrap: wrap;
    background-color: black;
    margin: 5px;
    padding: 5px;
 
    border: 2px outset goldenrod;


  }

  .videoreproductor:hover {
   
    background-color: black;
    -webkit-transform: scale(1.1);
    transition: 0.4s ease;
    transform: scale(1.1);
 
  }